body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
}

#canvas {
    display: block;
    background-color: #6050DC;
    border: 3px dotted #ffffff;
    border-radius: 20px;
}

#crack{
    display: none;
}

#lock{
    display: none; 
}


.game-model{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    display: none;
  }

  .game-model .content{
    text-align: center;
    color: white;
  }

  .game-model h2{
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 40px;
  }

  .game-model p{
    font-weight: 500;
    font-size: 2rem;
  }

  .game-model button{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 30px;
    padding: 12px 23px;
    background: #6050DC;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }