body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
}

#canvas {
    display: block;
    background-color: #6050DC;
    border: 3px dotted #ffffff;
    border-radius: 20px;
}

#crack{
    display: none;
}
