body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
}

#canvas{
    display: block;
    background-color: burlywood;
    margin: 0 auto;
}